<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @faculty.name %>
</p>

<p>
  <strong>Education:</strong>
  <%= @faculty.education %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @faculty.experience %>
</p>

<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%= link_to 'Back', faculties_path %>
